AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_DEFAULT_REGION=us-east-1

S3_BUCKET=
AWS_ECR_REGISTRY=

BEDROCK_API_KEY=
BEDROCK_REGION=us-east-1
BEDROCK_MODEL_ID=us.amazon.nova-pro-v1:0

RUNPOD_API_KEY=
RUNPOD_ENDPOINT_ID=
RUNPOD_POD_ID=
RUNPOD_NETWORK_VOLUME_ID=
RUNPOD_INFERENCE_BASE_URL=

SAGEMAKER_WAV2LIP_EXECUTION_ROLE_ARN=arn:aws:iam::716314429284:role/SageMakerWav2LipExecutionRole
SAGEMAKER_WAV2LIP_OUTPUT_BUCKET=
SAGEMAKER_WAV2LIP_OUTPUT_PREFIX=wav2lip-fast/outputs
SAGEMAKER_WAV2LIP_ENDPOINT_NAME=wav2lip-fast-serverless
SAGEMAKER_WAV2LIP_MODEL_NAME=wav2lip-fast-serverless-model
SAGEMAKER_WAV2LIP_ENDPOINT_CONFIG_NAME=wav2lip-fast-serverless-config
SAGEMAKER_WAV2LIP_ECR_REPOSITORY=wav2lip-fast-serverless
SAGEMAKER_WAV2LIP_MEMORY_MB=6144
SAGEMAKER_WAV2LIP_MAX_CONCURRENCY=1

WAV2LIP_REPO_URL=https://github.com/ohsugi/Wav2Lip-fast.git
WAV2LIP_REPO_REF=main
WAV2LIP_CHECKPOINT_S3_URI=
